---
import Navbar from "../components/Navbar/Navbar.jsx";
import Hero from "../components/Hero/Hero.jsx";
import HowToReach from "../components/HowToReach/HowToReach.jsx";
import Attractions from "../components/Attractions/Attractions.jsx";
import FoodSection from "../components/Food/FoodSection.jsx";
import TravelTips from "../components/TravelTips/TravelTips.jsx";
import Footer from "../components/Footer/Footer.jsx";

import "../styles/global.css";
import "../components/Navbar/Navbar.css";
import "../components/Hero/Hero.css";
import "../components/HowToReach/HowToReach.css";
import "../components/Attractions/Attractions.css";
import "../components/Food/FoodSection.css";
import "../components/TravelTips/TravelTips.css";
import "../components/Footer/Footer.css";

---
<html>
  <head>
    <title>Bangalore Tourism</title>
  </head>
  <body>
    <Navbar client:load />
    <Hero client:load />
    <HowToReach client:load/>
    <Attractions client:load />
    <FoodSection client:load />
    <TravelTips  client:load/>
    <Footer client:load />
  </body>
</html>
