---
import Navbar from "../components/Navbar.jsx";
import Hero from "../components/Hero.jsx";
import HowToReach from "../components/HowToReach.jsx";
import Attractions from "../components/Attractions.jsx";
import FoodSection from "../components/FoodSection.jsx";
import TravelTips from "../components/TravelTips.jsx";
import Footer from "../components/Footer.jsx";
import "../styles/global.css";
---
<html>
  <head>
    <title>Bangalore Tourism</title>
  </head>
  <body>
    <Navbar client:load />
    <Hero client:load />
    <HowToReach client:load/>
    <Attractions client:load />
    <FoodSection client:load />
    <TravelTips  client:load/>
    <Footer client:load />
  </body>
</html>
